# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# macOS
.DS_Store

# Docker and env files
*.env
*.log

# VSCode
.vscode/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/crash.log

# Python cache files in app/
app/__pycache__/
